@use "../helpers/" as *;

.features {
  margin: fluid(90, 50) auto fluid(130, 70);
  padding: rem(15);
  max-width: rem(1164);
  &__title {
    margin-bottom: fluid(90, 50);
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(65);
    flex-wrap: wrap;

    &-item {
      max-width: rem(226);
      margin-inline: auto;
    }

    &-img {
      margin-inline: auto;
      margin-bottom: rem(40);
    }
    &-title {
      text-align: center;
      margin-bottom: rem(12);
    }
    &-text {
      text-align: center;
    }
  }
}
